services:
  redis_eCommerce:
    container_name: redis_eCommerce
    image: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  user_db:
    container_name: user_db
    image: postgres:17.4
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5434:5432"
    volumes:
      - user_data:/var/lib/postgresql/data

  account_db:
    container_name: account_db
    image: postgres:17.4
    environment:
      POSTGRES_DB: accountdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5435:5432"
    volumes:
      - account_data:/var/lib/postgresql/data

  inventory_db:
     container_name: inventory_db
     image: postgres:17.4
     environment:
       POSTGRES_DB: inventorydb
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: admin
     ports:
       - "5436:5432"
     volumes:
        - inventory_data:/var/lib/postgresql/data

  order_db:
    container_name: order_db
    image: postgres:17.4
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5437:5432"
    volumes:
      - order_data:/var/lib/postgresql/data

  payment_db:
    container_name: payment_db
    image: postgres:17.4
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5438:5432"
    volumes:
      - payment_data:/var/lib/postgresql/data

  delivery_db:
    container_name: delivery_db
    image: postgres:17.4
    environment:
      POSTGRES_DB: deliverydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5439:5432"
    volumes:
      - delivery_data:/var/lib/postgresql/data

  rabbitmq:
    container_name: rabbitmq_eCommerce
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  account_data:
  user_data:
  inventory_data:
  order_data:
  payment_data:
  delivery_data: