spring:
  application:
    name: user-service
  datasource:
    username: postgres
    password: admin
    url: jdbc:postgresql://localhost:5434/userdb
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 8
      minimum-idle: 2
      idle-timeout: 600000
      connection-timeout: 30000
      max-lifetime: 1800000
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
#  liquibase:
#    enabled: true
#    change-log: classpath:/db/changelog/changelog-master.yml

server:
  port: 8083
  servlet:
    context-path: /api/